<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/css/style.css">
	<script src="/js/script.js" defer></script> 
</head>
<body>
    <h1>Lista de Usuários</h1>
   <div id="usuarios" class="lista-visualizacao">
	</div>
    <a href="/crud">Gerenciar Usuários</a>
    <script src="script.js"></script>
</body>
</html>